@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Source+Sans+Pro&display=swap');

// FONTS
$font-stack:'Source Sans Pro', sans-serif;
$font-title: 'Crete Round', serif;

// COLORS
$dark-color: rgb(15, 15, 15);
$light-color: rgb(245, 244, 244);
$grey-dark: #333;
$grey-light: rgb(173, 173, 173);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);